body{
    background-color: #00b3ee;
}
/*HEADER SECTION********************************/

@media (min-width: 320px) {
    .adsense-box{
        display:none;
    }
    .adsense-box-mobile{
        width: 320px;
        height: 100px;
        background-color: green;
        margin: 0 auto;
    }
    .menu-icon{
        background-color: orange;
        /*height of menu-row*/
        height: 40px;
    }
    .menu-icon .h-stripe{
        /*w3c schools*/
        width: 90%;
        height: 5px;
        background-color: black;
        margin: 6px auto;
    }
    .logo-icon{
        background-color: orangered;
        /*height of menu-row*/
        height: 40px;
    }
    .input-group-addon{
        visibility: hidden;
    }
    .logo-icon .header-logo{
        font-size:26px;
        /*height of menu-row*/
        height: 40px;
    }
    .header-logo .little-x{
        font-size: 12px;
        position:relative;
        top: 6px;
    }
}
@media (min-width: 340px){
    .adsense-box{
        width:336px;
        height: 280px;
        background-color: green;
        float: right;
        margin: 0 0 20px 20px;
        display: block;
    }
    .adsense-box-mobile{
        display: none;
    }
}
@media (min-width: 768px) {
    .menu-icon{
        background-color: orange;
        /*height of menu-row*/
        height: 40px;
    }
    .menu-icon .h-stripe{
        /*w3c schools*/
        width: 90%;
        height: 5px;
        background-color: black;
        margin: 6px auto;
    }
    .logo-icon{
        background-color: orangered;
        /*height of menu-row*/
        height: 40px;
    }
    .input-group-addon{
        visibility: hidden;
    }
    .search-blcok {

        max-width: 100%;
    }
    .logo-icon .header-logo{
        font-size:26px;
        /*height of menu-row*/
        height: 40px;
    }
    .header-logo .little-x{
        font-size: 12px;
        position:relative;
        top: 6px;
    }
}
@media (min-width: 1024px) {
    .logo .header-logo {
        font-size: 125px;
        /*height of header*/
        height: 150px;
        max-width: 200px;
    }
    .slogan{
        height: 23px;
        /*width of title*/
        width: 800px;
        padding-left: 10px;
        bottom: 22px;
    }
    .header-title{
        /*height of header*/
        height: 150px;
    }
    .logo{
        /*height of header*/
        height: 150px;
    }
    .header-title-center {
        /*height of header*/
        height: 127px;
        font-size: 110px;
        margin: 0px auto 0px;
        /*width of title*/
        width: 800px;

        bottom: 6px;
    }
    .input-group-addon{
        visibility: visible;
    }
    .search-blcok {

        max-width: 269px;
    }
    /*nav-bar*/
    .nav-bar ul li{
        font-size: 17px;
    }
    /*end nav-bar*/

    /*left nav bar*/
    main ul {
        max-width: 200px;
    }
    /*end of nav bar*/
}
@media (min-width: 1366px) {
    .logo .header-logo {
        font-size: 168px;
        /*height of header*/
        height: 200px;
        max-width: 269px;
    }
    .slogan{
        height: 30px;
        /*width of title*/
        width: 1050px;
        padding-left: 12px;
        bottom: 20px;
    }
    .header-title{
        /*height of header*/
        height: 200px;
    }
    .logo{
        /*height of header*/
        height: 200px;
    }
    .header-title-center {
        /*height of header*/
        height: 170px;
        font-size: 144px;
        margin: 0 auto;
        /*width of title*/
        width: 1050px;

        bottom: 0px;
    }
    .search-blcok {

        max-width: 269px;
    }
    /*nav-bar*/
    .nav-bar ul li{
        font-size: 22px;
    }
    /*end nav-bar*/

    /*left nav bar*/
    main ul {
        max-width: 269px;
    }
    /*end of nav bar*/

}
header{
    background-color: orange;
    border: solid black 3px;

}
.logo{
    background-color: green;
    /*height of header set as variable*/
    /*height: 200px;*/
    max-width: 100%;
}
.logo img{
    background-color: green;
    /*height of header*/
    /*height: 200px;*/
    width: 100%;
}
.header-title{
    background-color: orange;
}
.header-title-center{


    /*background-color: #00b3ee;*/
    position: relative;
    text-align: left;
}
.slogan{


    /*background-color: green;*/
    font-size: 26px;
    margin: 0 auto;
    text-align: left;

    position: relative;

}
.header-logo{
    /*font-size: 168px;*/
    font-family: "Times New Roman", Times, serif;
    text-align:center;

    /*height: 200px;*/
    background-color: yellow;
    margin: 0 auto;
    padding-left: 0px;
}
.logo .header-logo .big-x{
    position: relative;
    bottom: 18px;
}
.logo .header-logo .little-x{
    font-size: 30px;
}
/*END OF HEADER****************************************************/

.row{
    /*background-color: red;*/
}
/*left nav bar*/
nav{
    background-color: pink;
    height: 800px;
}
main ul {
    list-style: none;
    font-size: 26px;
    margin:0 auto;
    padding:0;

    text-align:left;
    background-color: pink;
}
nav ul li{
    padding-left:10px;
    border-bottom: solid 1px green;
}
/*end of nav bar*/

/*menu-bar*/
.menu-row{
    background-color: brown;
    height: 40px;
}
.nav-bar ul{
    padding:0;
    margin: 0;
    text-align: center;
    width: 100%;

}
.nav-bar ul li {
    display: inline-block;
    height: 40px;

    margin: 0 auto;
    width:16.6%;
    list-style: none;
    padding-top: 5px;
}
.nav-bar{
    background-color: purple;
    height: 40px;
}
.search{
    background-color: green;
    height: 40px;
}
.search-blcok{
    background-color: white;

    margin:0 auto;
    text-align: left;
    height: 40px;
    font-size: 26px;
}
.search-blcok input{
    padding: 0 0 0 10px;
    font-size: 26px;
    height: 40px;
}
.search-blcok .input-group-addon{
    padding:0 10px;
    font-size: 30px;
}
/*end of menu-bar*/

main{
    border: dashed blue 1px;
    background-color: white;
}
/*article*/

article.inside{
    background-color: blue;
    height: auto;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}
article span{

}
.article-title{
    font-size: 30px;
    background-color: white;
    padding-bottom: 10px;
}
/*end of article*/
footer{
    background-color: lavender;
}

.share{
    height: 800px;
    background-color: grey;
}

.right{
    background-color: red;
    height: 800px;
    border: solid green 3px;
}