body{
    background-color: #00b3ee;
}
/*HEADER SECTION*/
header{
    background-color: orange;
    border: solid black 3px;

}
.logo{
    background-color: green;
    /*height of header set as variable*/
    height: 200px;
    max-width: 100%;
}
.logo img{
    background-color: green;
    /*height of header*/
    height: 200px;
    width: 100%;
}
.header-title{


    /*height of header*/
    height: 200px;

}

.header-title-center{
    /*height of header*/
    height: 170px;
    width: 1050px;
    /*background-color: #00b3ee;*/
    margin: 0 auto;
    text-align: left;
    font-size: 144px;
}
.slogan{
    height: 30px;
    width: 1050px;
    /*background-color: green;*/
    font-size: 26px;
    margin: 0 auto;
    text-align: left;
    padding-left: 12px;
    position: relative;
    bottom: 22px;
}
.header-logo{
    font-size: 168px;
    font-family: "Times New Roman", Times, serif;
    text-align:center;
    width: 269px;
    height: 200px;
    background-color: #00b3ee;
    margin: 0 auto;
    padding-left: 0px;

}
.header-logo .big-x{
    position: relative;
    bottom: 18px;
}
.little-x{
    font-size: 30px;
}
main ul {
    list-style: none;
    font-size: 26px;
    margin:0 auto;
    padding:0;
    width: 269px;
    text-align:left;
    background-color: #00b3ee;
}
/*END OF HEADER*/

.row{
    background-color: red;
}
/*left nav bar*/
nav{

    background-color: green;
    height: 800px;
}

nav ul li{
    padding-left:10px;
}
/*end of nav bar*/

/*menu-bar*/
.menu-row{
    background-color: brown;
}
/*end of menu-bar*/

main{
    border: dashed blue 1px;
    height: 80%;
}
footer{
    background-color: yellow;
}

.share{
    height: 800px;
    background-color: purple;
}
article{
    background-color: blue;
    height: 800px;
}
.right{
    background-color: orange;
    height: 800px;
    border: solid green 3px;
}