body{
    background-color: #00b3ee;
}
/*HEADER SECTION*/
header{
    background-color: orange;
    border: solid black 3px;

}
.logo{
    background-color: green;
    /*height of header set as variable*/
    height: 200px;
    max-width: 100%;
}
.logo img{
    background-color: green;
    /*height of header*/
    height: 200px;
    width: 100%;
}
.header-title{


    /*height of header*/
    height: 200px;

}

.header-title-center{
    /*height of header*/
    height: 170px;
    width: 1050px;
    /*background-color: #00b3ee;*/
    margin: 0 auto;
    text-align: left;
    font-size: 144px;
}
.slogan{
    height: 30px;
    width: 1050px;
    /*background-color: green;*/
    font-size: 26px;
    margin: 0 auto;
    text-align: left;
    padding-left: 12px;
    position: relative;
    bottom: 22px;
}
/*END OF HEADER*/

.row{
    background-color: red;
}
.menu-row{
    background-color: white;
}
main{
    border: dashed blue 1px;
    height: 80%;
}
footer{
    background-color: yellow;
}
nav{
    background-color: green;
    height: 800px;
}
.share{
    height: 800px;
    background-color: purple;
}
article{
    background-color: blue;
    height: 800px;
}
.right{
    background-color: orange;
    height: 800px;
    border: solid green 3px;
}